body {
	background-color: #3fb6b7;
}

h1 {
	color: white;
	margin-top: 50px;
	margin-left: 45%;
	font-family: Times New Roman;
}

p {
	color:white;
	margin-top: 20px;
  	margin-right: 20%;
  	margin-left: 45%;
	font-family: Times New Roman;
	font-size: 18px;
	line-height: 1.5em;
}

img {
	margin-top: 30px;
	margin-left: 30%;
	width: 10%;
	height: 10%;
}

a {
	display:inline;
	color:white;
	margin-top: 20px;
	font-family: Times New Roman;
	font-size: 18px;
}

.headURL1{
	display:inline;
	color:white;
	margin-top: 20px;
	margin-left: 5%;
	font-family: Times New Roman;
	font-size: 18px;
}

.headURL2{
	display:inline;
	color:white;
	margin-top: 20px;
	margin-left: 10px;
	font-family: Times New Roman;
	font-size: 18px;
}